<div role="tabpanel" class="tab-pane active" {{bind-attr id="contentBlock.id"}}>

  <h3>{{contentBlock.type}}</h3>
  {{view "select" content=contentBlock.types value=contentBlock.type class="form-control"}}
  {{textarea value=contentBlock.body cols="80" rows="6" class="form-control"}}

  {{#if contentBlock.content_assets}}
    <h4>Uploaded Images</h4>
    <hr>

    <div class="row">
    {{#each content_asset in contentBlock.content_assets}}
      {{partial "content/_contentAsset"}}
    {{/each}}
    </div>
  {{/if}}
  
</div>