<h3>CONTENT</h3>
{{#link-to 'content.show'}}Show Content{{/link-to}}




<form>

  <div class="form-group">
    {{view "select" content=types value=_type class="form-control"}}
  </div>

  <div {{bind-attr class=":custom-fields _type"}}>
  <% ClearCMS::Content.form_fields.each do |field,options| %>
    <div class="form-group <%= options[:models].join(' ') %>">
      <label for="content-<%= field %>"><%= field.upcase %></label>
      {{input value=<%= field %> id="content-<%= field %>" class='form-control'}}
    </div>
  <% end %>
  </div>

  <button {{action 'save'}} class="btn btn-default">Save</button>
</form>

<hr>
<button {{action 'toggleDetails'}}>Toggle Details</button>

{{#if showDetails}}
<button {{action 'addContentBlock'}}>Add Block</button>

 <div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="cblist">
  {{#each contentBlock in content_blocks}}
    <li role="presentation" class="active"><a {{bind-attr aria-controls="contentBlock.id"}} {{bind-attr data-target="contentBlock.id"}}  role="tab" data-toggle="tab">{{contentBlock.type}}</a></li>
  {{/each}}
  </ul>

  <div class="tab-content">
  {{#each contentBlock in content_blocks}}
    {{partial "content/_contentBlock"}}
  {{/each}}
 </div>
</div>
{{else}}
  <h1>Not Showing Details</h1>
{{/if}}
