<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ClearCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>

    <!-- Le styles -->
    <%= stylesheet_link_tag "clear_cms/application", :media => "all" %>
  </head>

  <body>

    <div class="navbar-nav navbar-fixed-top navbar-default">
      <div>
          <% if current_user %>
              <% if can? :manage, ClearCMS::Site %>
                <div class="btn-group pull-left">
                  <a class="btn  dropdown-toggle btn-default" data-toggle="dropdown" href="#">
                    <%= current_site.name %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% ClearCMS::Site.each do |site| %>
                      <li><%= link_to site.name, clear_cms.site_contents_path(site) %></li>
                    <% end %>
                  </ul>
                </div>
              <% elsif current_user.permissions.any? %>
                <div class="btn-group pull-left">
                  <a class="btn  dropdown-toggle btn-default" data-toggle="dropdown" href="#">
                    <%= current_site.name %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% current_user.permissions.each do |permission| %>
                      <li><%= link_to permission.site.name, clear_cms.site_contents_path(permission.site) %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

                <div class="btn-group pull-left">
                  <a class="btn  dropdown-toggle btn-default" data-toggle="dropdown" href="#">
                    Create
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% if can? :create, ClearCMS::Content %>
                      <li><%= link_to t('clear_cms.content'), clear_cms.new_site_content_path(current_site) %></li>
                    <% end %>
                    <% if can? :create, ClearCMS::User %>
                      <li><%= link_to t('clear_cms.user'), clear_cms.new_user_path %></li>
                    <% end %>
                    <% if can? :create, ClearCMS::Site %>
                      <li><%= link_to t('clear_cms.site'), clear_cms.new_site_path %></li>
                    <% end %>
                  </ul>
                </div>

                <div class="btn-group pull-left">
                  <a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="#">
                    Manage
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% if can? :read, ClearCMS::Content %>

                      <li role="presentation" class="dropdown-header">Manage Content</li>
                      <li><%= link_to t('clear_cms.all_contents'), clear_cms.site_contents_path(current_site), :tabindex=>-1 %></li>
                      <% ClearCMS::Content.sorted_content_types.each do |type| %>
                        <li><%= link_to type.pluralize, clear_cms.site_contents_path(current_site, 'filter[types]'=>type) %></li>
                      <% end %>
                    <% end %>

                    <% if can? :manage, ClearCMS::User %>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation" class="dropdown-header">Manage Users</li>
                      <li><%= link_to t('clear_cms.users'), clear_cms.users_path %></li>
                    <% end %>
                    <% if can? :manage, ClearCMS::Site %>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation" class="dropdown-header">Manage Sites</li>
                      <li><%= link_to t('clear_cms.sites'), clear_cms.sites_path %></li>
                    <% end %>
                  </ul>

                </div>

                <div class="pull-left btn-group search-bar">
                  <form method="get" action="<%= clear_cms.site_contents_path(current_site) %>" class="form-inline">
                    <div class="input-append">
                      <input type="text" name="q" class="hidefromstatus form-control">
                      <button type="submit" class="btn btn-default">Search</button>
                    </div>
                  </form>
                </div>
     <!--  </div> -->

 <!--
  MANAGE,
  Entries
  Create/Edit Entry,
  Potential Assignments,
  Pages,
  Create/Edit Page,
  Comments,
  Tags,
  Categories,
  Topics,
  Create/Edit Topic,
  DESIGN,
  Templates,
  Web,
  Email,
  RSS,
  Twitter / Facebook,
  Mobile Web,
  ADMIN,
  Sites,
  Users,
  Roles,
  Permissions,
  Social Media,
  Analytics,
  Languages,
  Settings,
  API,
  Log -->

              <div class="btn-group pull-right">
                <a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-user"></span> <%= current_user.email %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Profile', clear_cms.edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign Out", clear_cms.destroy_user_session_path, :method=>:delete %></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>

<div>
  <div>
        <% message = notice || alert %>
          <% if message %>
            <div class="alert alert-dismissable alert-warning" role="alert"><%= message %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
          <% end %>
      </div>
      <div>
        <div>
            <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>Captain Lucas &copy; <%= Time.now.strftime('%Y') %></p>
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <%= javascript_include_tag "clear_cms/application" %>
      <%= content_for :final_js %>
</div>
  </body>
</html>
