<% content_for :final_js do %>
<!--
<script>
  $(document).ready(function(){
    $('#fileupload').fileupload();
  });
</script>
-->
<% end %>


<div class="row-fluid">
  <div class="span9">
  <% if @clear_cms_content.persisted? %>
    <%= link_to (@clear_cms_content.published? ? 'View >>' : "Preview >>"), content_path(@clear_cms_content), :class=>'pull-right btn', :target=>'_blank' %>
  <% end %>
  <%= semantic_nested_form_for @clear_cms_content, :html=>{:multipart=>true, :class=>'form-horizontal well'} do |f| %>
<!--     <h3>Content Details</h3> -->
    <%= f.inputs do %>
      <%= f.input :type, :as=>:select, :collection=>ClearCMS::Content::TYPES %> 
      <%= f.input :promote, :as=>:boolean, :html=>{:class=>'checkbox'} %>
      <%= f.input :title, :input_html=>{:class=>'input-xxlarge'} %>
      <%= f.input :subtitle, :input_html=>{:class=>'input-xxlarge'} %>
      <%= f.input :basename %>
      <%= f.input :author, :collection=>(ClearCMS::User.active + [@clear_cms_content.author]).compact.uniq %> 
      <%= f.input :tags, :input_html=>{:class=>'input-xxlarge'}%>
      <%= f.input :categories, :input_html=>{:class=>'input-xxlarge', 'autocomplete'=>'off', 'data-provide'=>"typeahead", 'data-source'=>@clear_cms_content.site.categories.collect {|c| c['_id'] }.to_json} %>
      <%= f.input :tweet, :as=>:text, :input_html=>{:class=>'input-xxlarge', rows: 3} %>
      <%= f.input :address, :as=>:text, :input_html=>{:rows=>5 }%>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
      <%= f.input :video_url, :label=>'Video URL', :input_html=>{:class=>'input-xxlarge'} %>
      <%= f.input :campaign_tracking_pixel, :label=>'Campaign Tracking Pixel', :input_html=>{:class=>'input-xxlarge'} %>


      <%= f.input :brand_name, :label=>'Brand Name' %>
      <%= f.input :brand_url, :label=>'Brand URL' %>
      <%= f.input :buy_url, :label=>'Buy URL' %>
      <%= f.input :store_name, :label=>'Store Name' %>
      <%= f.input :price %>
      <%= f.input :scale %>
      <%= f.input :product_image, :label=>'Product Image' %>
      <%= f.input :product_description, :as=>:text, :label=>'Product Description', :input_html=>{:class=>'input-xxlarge', rows: 3}  %>
      <%= f.input :fancy_item, :as=>:boolean, :html=>{:class=>'checkbox'} %>
      <%= f.input :ios_app_exclusive, :as=>:boolean, :html=>{:class=>'checkbox'}, :label=>'iOS APP Exclusive' %>
      
      <%= f.input :site_id, :as=>:hidden, :value=>current_site.id %>
    <% end %>
    
    
<!--
    <div>
    <h3>Assets</h3>
    
    
    </div>
-->
    
    <h3>Content Block(s)</h3>

    <p><%= f.link_to_add "Add a Content Block", :content_blocks, :class=>'btn btn-xlarge' %></p>

    
    <ul class="nav nav-tabs" id="myTab">
      <% @clear_cms_content.content_blocks.each_with_index do |cb,i| %>
        <li<%= i==0 ? ' class=active' : '' %>><a href="#content_block_<%= cb.type.present? ? cb.type : cb.object_id %>" data-toggle="tab"><%= cb.type.present? ? cb.type : cb.object_id %></a></li>
      <% end %>
    </ul>
    
       
    <div class="tab-content">    
      <% @clear_cms_content.content_blocks.each_with_index do |cb,i| %>

      <div class="tab-pane <%= i==0 ? 'active' : '' %>" id="content_block_<%= cb.type.present? ? cb.type : cb.object_id %>">
      <%= f.semantic_fields_for :content_blocks, cb do |cbf| %>
      

      <div class="well">
        
        <%= cbf.inputs do %>
          <%= cbf.input :type, :as=>:select, :collection=>ClearCMS::ContentBlock::TYPES %>
          <%= cbf.input :body, :as=>:text, :input_html=>{:class=>'input-xxlarge markitup'} %>
          <%= cbf.input :has_gallery, :as=>:boolean, :html=>{:class=>'checkbox'} %>
          
<!--           <a href="#modal-gallery" role="button" class="btn" data-toggle="modal">Insert Images</a> -->
          <hr>
          
          <div id="asset-sortable">
          <h4>Images</h4>
          <%= cbf.semantic_fields_for :content_assets do |caf| %>            
            <div class="media well well-small content-form-asset draggable">

              <a class="pull-left" onclick="ClearCMS.Image.insertWizard(this); return false;">
                <%= image_tag caf.object.mounted_file.url, class: 'img-polaroid', width: '100px' %>

              </a>
              <% if caf.object.persisted? %>
                  <a class="btn btn-small pull-left" onclick="ClearCMS.Image.insertWizard(this); return false;">Insert</a>
              <% end %>
              <div class="media-body">

                <% unless caf.object.persisted? %>
<!--
                  <%= caf.input :mounted_file %>
                  <%= caf.input :remote_mounted_file_url, :as=>:hidden %>
-->
                <% end %>
                
                <%= caf.input :path, :as=>:hidden, :input_html=>{:class=>'path'} %>
                <%= caf.input :file, :as=>:hidden, :input_html=>{:class=>'file'} %>
              
                <div class="span5">
                <%= caf.input :title %>
                <%= caf.input :description, :as=>:text, :input_html=>{:rows=>1} %>
                <%= caf.input :credit %>
                </div>
                <div class="span5">
                <%= caf.input :tags %>
                <%#= caf.input :tags, :input_html=>{:class=>'input-xxlarge'}%>
                <%= caf.input :order %>
                <%= caf.check_box '_destroy' %> Delete
                </div>
<!--
                <%= caf.input :caption %>
                <%= caf.input :order %>
-->

                 
              </div>
            </div>
          <% end %>
          </div>

         <!--  <p><%= cbf.link_to_add "Add an Asset", :content_assets, :class=>'btn btn-xlarge' %></p> -->
    
        
        <% end %>
      </div>
      <% end %>
      </div>
    <% end %>
    </div>
      
  </div>    



  <div class="span3 content-form-sidebar">

    <div class="well">
      <!-- <%= f.input :status, :as=>:select, :collection=>ClearCMS::Content::STATUSES %>  -->  
      <%= f.submit 'Save', :class=>'btn btn-primary' %>
      <%= f.submit (@clear_cms_content.published? ? 'View >>' : "Preview >>"), :class=>'btn' %>
      <%= f.input :publish_at %>
      <%= f.input :state, :as=>:select, :collection=>Hash[ClearCMS::Content::STATES.map {|state| [state.humanize, state]}] %>
      <br>
      <div class="well well-small clearfix">
        <!-- <h6>Save and mark as:</h6> -->
        <%= link_to "Save as #{@clear_cms_content.next_state.humanize.downcase} >>", '#', :class=>'form-action next-state btn btn-warning btn-small', 'data-next-state'=>@clear_cms_content.next_state %>
        
      </div>
      <% if @clear_cms_content.persisted? %>
        <%= link_to 'Delete', @clear_cms_content,:confirm=>'Are you sure you want to delete this entry?',:method=>:delete,:class=>'btn' %>
      <% end %>
    </div>
    
    <div class="well">
      <h4>Assignee</h4>
      <%= f.input :assignee, :collection=>(ClearCMS::User.active + [@clear_cms_content.assignee]).compact.uniq %>
      <%= f.input :deadline_at %>
    </div>
    
    <div class="well">
      <h4>Content Notes</h4>
      <p><%= f.link_to_add "Add a Note", :content_notes, :class=>'btn btn-xlarge' %></p>

<!--
      <% @clear_cms_content.content_notes.each do |note| %>
        <%#= note.user.full_name %>:<br>
        <%= simple_format note.entry %>
      <% end %>
      
      <div id="content_notes_form_wrapper">
      
      </div>
      

      <%= f.semantic_fields_for :content_notes do |cnf| %>
        <%= cnf.inputs do %>
          <%= cnf.input :entry, :as=>:text, :input_html=>{:rows=>5 } %>
        <% end %>
      <% end %>
-->

      
      <a>ALL NOTES...</a>
    </div> 
    
    <div class="well">
      <h4>History</h4>
      <p><b>CREATED AT</b><br><small><i><%= @clear_cms_content.created_at %></i></small></p>
      <p><b>UPDATED AT</b><br><small><i><%= @clear_cms_content.updated_at %></i></small></p>    
      <p><b>SOURCE</b><br><small><i><%= @clear_cms_content.source %></i></small></p>
      <p><b>ACTIVITY</b>
      <% @clear_cms_content.content_logs.each do |log| %>
        <br><small><i><%= log.entry.capitalize %> by <%= log.user.full_name %> at <%= log.created_at %></i></small>
      <% end %>
      </p>
    </div>    
  </div>  
  
<div data-spy="affix-bottom" id="content-controls" class="row-fluid">
  <div class="span9 well">
    <%= f.submit 'Save', :class=>'btn btn-primary pull-right' %>
  </div>
</div>  

  <% end %> <!-- end content form -->

<div class="row-fluid">
  <div class="span9 well">  
    <!-- The file upload form used as target for the file upload widget -->
    <%= s3_uploader_form post: "#{clear_cms.site_assets_path(params[:site_id] || @clear_cms_content.site_id )}", as: "asset[image_url]", bucket: ClearCMS.config.s3_upload_bucket do %>
      <%= file_field_tag :file, multiple: true %>
    <% end %>
    
  </div>
</div>



<%# render form_template %>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-image-insert" class="modal modal-image-insert hide fade" data-filter=":odd" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title">Insert Image</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <a class="btn btn-primary modal-insert btn-disabled" onclick="ClearCMS.Image.insert(this);">
          <span>Insert</span>
          <i class="icon-arrow-right icon-white"></i>
      </a>
<!--
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
-->
    </div>
</div>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title">Assets</h3>
    </div>
    <div class="modal-body">
    <% @clear_cms_content.content_blocks.any? and @clear_cms_content.content_blocks.first.content_assets.each do |asset| %>
      <img src="<%= asset.mounted_file.thumb.url %>" class="img-polaroid" />
    <% end %>
    </div>
    <div class="modal-footer">
<!--
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
-->
    </div>
</div>


<!-- The template to insert asset forms -->
<script id="template-asset-form" type="text/x-tmpl">
  {% var random_id=Math.floor(Math.random() * 10000000); %}
  {% var filename=o.file.url.match(/.*\/(.*)$/)[1]; %}
  <div class="fields">            
    <div class="media well well-small content-form-asset draggable">
      <a class="pull-left" onclick="ClearCMS.Image.insertWizard(this); return false;">
        <img alt="{%=filename%}" class="img-polaroid" src="{%=o.file.url%}" width="100px">
      </a>
<!--       <div class="pull-right"><input name="content[content_blocks_attributes][0][content_assets_attributes][1][_destroy]" type="hidden" value="0"><input id="content_content_blocks_attributes_0_content_assets_attributes_1__destroy" name="content[content_blocks_attributes][0][content_assets_attributes][1][_destroy]" type="checkbox" value="1"> Delete </div> -->
      <a class="btn btn-small pull-left" onclick="ClearCMS.Image.insertWizard(this); return false;">Insert</a>
      <div class="media-body">              
<!--         <input id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_remote_mounted_file_url" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][remote_mounted_file_url]" type="hidden" value="{%=o.url%}">  -->
      <div class="span5">
      <input id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_path" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][path]" type="hidden" value="{%=o.path%}" class="path">
      <input id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_file" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][file]" type="hidden" value="{%=filename%}" class="file">
        <li class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_title_input"><label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_title">Title</label><input id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_title" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][title]" type="text" value="{%=filename%}">
        </li>
        <li class="text input optional" id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_description_input"><label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_description">Description</label><textarea id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_description" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][description]" rows="1"></textarea>
        </li>
        <li class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_credit_input"><label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_credit">Credit</label><input id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_credit" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][credit]" type="text" value="">
        </li>
      </div>
      <div class="span5">
                <li class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_tags_input"><label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_tags">Tags</label><input class="input-xxlarge" id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_tags" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][tags]" type="text" value="[]">

</li>
                <li class="string input optional stringish" id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_order_input"><label class=" label" for="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_order">Order</label><input id="content_content_blocks_attributes_0_content_assets_attributes_{%=random_id%}_order" name="content[content_blocks_attributes][0][content_assets_attributes][{%=random_id%}][order]" type="text" value="99">

</li>       
      </div>        
      </div>
    </div>
  </div>
</script>


<!-- The template to insert asset forms -->
<script id="template-insert-wizard" type="text/x-tmpl">
  <img src="{%= o.url %}" class="img-polaroid" style="max-height:175px;"/>
  <form method="get" action="/clear_cms/assets/resize" onsubmit="alert('submit'); return false;">
    <fieldset>
      <br>
      <label class="radio inline">
        <input type="radio" name="image_alignment" value="left">
        Align Left
      </label>
      <label class="radio inline">
        <input type="radio" name="image_alignment" value="center" checked>  
        Align Center      
      </label>      
      <label class="radio inline">
        <input type="radio" name="image_alignment" value="right">
        Align Right
      </label>
      <hr>
      <label class="radio inline">
        <input type="radio" name="image_size" value="half_width">
        Half-Width
      </label>
      <label class="radio inline">
        <input type="radio" name="image_size" value="full_width" checked>  
        Full-Width     
      </label>
      <label class="radio inline">
        <input type="radio" name="image_size" value="feature">  
        Feature (300px)     
      </label>
      <label class="radio inline">
        <input type="radio" name="image_size" value="thumb">  
        Thumb (200px)     
      </label>                  
<!--
      <hr>
      <label>Width</label>
      <input type="text" name="width">
      <label>Height</label>
      <input type="text" name="height">
-->
      <input type="hidden" name="path" value="{%= o.path %}">
      <input type="hidden" name="file" value="{%= o.file %}">
      <input type="hidden" name="url" value="{%= o.url %}">
      <br>
      <!-- <button class="btn" type="submit">Generate</button> -->
    </fieldset>
  </form>
  <div class="well">
    <p>Original Image URL</p>
    <a href="{%= o.url %}" target="_blank" id="image-url">{%= o.url %}</a>
  </div>
</script>



<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}" width="200"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="path">
              {%=file.path%}
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
<!--
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
-->
    </tr>
{% } %}
</script>




