{{content_asset.mounted_file.thumb.url}}
  <div>
    {{file}}
    <button id="" class="btn btn-info" {{action ""}}>
      Edit
    </button>
    <button id="" class="btn" {{action ""}}>
      Delete
    </button>
    <br>
    <div>
      <img {{bind-attr src="content_asset.mounted_file.grid.url"}}>
    </div>
  </div>
{{ log content_asset}}
