<h3>CONTENT WRAPPER</h3>
{{link-to 'Support Page' 'support'}} | 
{{link-to 'Raw Content' 'content.raw'}}  |
{{#link-to 'content.show' '54e64fbc3336650003480000'}}Show Content 54e64fbc3336650003480000{{/link-to}}  |
{{link-to 'Edit Content 54e64fbc3336650003480000' 'content.edit' '54e64fbc3336650003480000'}}

{{outlet}}

id: {{id}}<br>
basename: {{basename}}
<hr>
<button {{action 'toggleDetails'}}>Toggle Details</button>

{{#if showDetails}}
  {{#each contentBlock in content_blocks}}
    {{partial "_contentBlock"}}
  {{/each}}
{{else}}
  <h1>Not Showing Details</h1>
{{/if}}


