<!DOCTYPE html>
<html>
<head>
  <title>ClearCMS</title>

<!--
  <%= stylesheet_link_tag "blueprint/screen", :media=>"screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media=>"print" %>
-->

  <!--[if lt IE 8]>
    # <%= stylesheet_link_tag "blueprint/ie.css", :media=>"screen, projection" %>
  <![endif]--> 
  
  <%= stylesheet_link_tag "application" %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= current_user ? 'logged_in' : 'logged_out' %>">
  <div id="wrapper">
  
    <%- if current_user -%>  
    <header id="header">
      <h1 id="site_title"><%= link_to 'clly CMS', clear_cms_root_path %></h1>

      <ul class="tabbed_navigation" id="tabs">
        <li><%= link_to "Sites", clear_cms_sites_path %></li>
        <li><%= link_to "Contents", clear_cms_contents_path %></li>
        <li><%= link_to "Users", clear_cms_users_path if can? :manage, ClearCMS::User %></li>
      </ul>

      <p id="utility_nav">
        <%#= select "site_selector[id]", "", ClearCMS::Site.all.collect{|s| [s.name,s.id]} %>
        <span class="current_user"><%= current_user.email %></span>
        <%= link_to "Sign Out", destroy_user_session_path %>
      </p>

    </header>
    
    <div id="title_bar">
      <div id="titlebar_left">
        <h2 id="page_title"><%= yield :title %></h2>      
      </div>
    </div>
    <%- end -%>
    
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div id="content_wrapper">  
  <%- if flash.any? -%>
    <div class="flashes">
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :class => "flash flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
    </div>    
  <%- end %>    
<!--
    <nav>
      <%= link_to "Sites", clear_cms_sites_path %>
      <%= link_to "Contents", clear_cms_contents_path %>
      <%= link_to "Users", clear_cms_users_path %>
    </nav>
-->
      <div id="page_content">
      <%= yield %>
      <% if current_user %>
        [ <%= "" %> ]
      <% end %>
      </div>

    </div>

  </div>
</body>
</html>
