<!DOCTYPE html>
<html>
<head>
  <title>ClearCMS</title>

  <%= stylesheet_link_tag "blueprint/screen", :media=>"screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media=>"print" %>

  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "blueprint/ie.css", :media=>"screen, projection" %>
  <![endif]--> 
  
  <%= stylesheet_link_tag "application" %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="span-24" id="header">
      <h1 id="site_title">Clly CMS</h1>
      <ul class="tabbed_navigation" id="tabs">
        <li><%= link_to "Sites", clear_cms.sites_path %></li>
        <li><%= link_to "Contents", clear_cms.contents_path %></li>
        <li><%= link_to "Users", clear_cms.users_path %></li>
      </ul>
      <p id="utility_nav">
        <span class="current_user"><%= current_user.email %></span>
      </p>
    </header>
    
<!--
    <nav>
      <%= link_to "Sites", clear_cms.sites_path %>
      <%= link_to "Contents", clear_cms.contents_path %>
      <%= link_to "Users", clear_cms.users_path %>
    </nav>
-->
  
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

  
    <%= yield %>
  </div>

</body>
</html>
